body {
    margin: 0%;
    align-content:center;
    align-items:space-around;
    background-color:#24252A;
    display:grid;
    justify-items:stretch;
}

.header{
    text-align: left;
    display: inline;
    line-height: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color:#7851A9;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}

#restart {
    background-color: #7851A9;
    height: 24px;
    width: 24px;
    position: relative;
    bottom: 89px;
    float: right;
    cursor: pointer;
    color: white;
    padding: 2px;
}

#restart:hover{
    transition: all 0.3s;
    background-color: #583189;
}

#stats{
    height: 57px; 
    text-align: center;
    display: block;
    padding: 5px;
}

.card{
    width: 18%;
    text-align: center;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.2s;
    position: relative;
}

.card .cardHeader{
    font-size: 18px;
    background-color:rgb(58, 58, 61);
    padding: 4px;
}

.card .cardBody{
    font-size: 15px;
    background-color:#44454A;
    padding: 4px;
}

.card:hover{
    width: 19%;
}
